
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=33c2845a74f87448b19fe22a998b4130
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
